- name: create fish config directory
  file:
    path: ~/.config/fish
    state: directory
  tags:
    - fish

- name: symlink dotfiles
  file:
    src: "{{ ansible_env.PWD }}/roles/fish/files/{{ item }}"
    path: ~/.config/fish/{{ item }}
    state: link
    follow: false
    force: yes
  loop:
    - config.fish
    - functions
    - conf.d
  tags:
    - fish
