- name: install brightnessctl
  become: yes
  apt:
    name: brightnessctl
  tags:
    - apt
    - brightnessctl

- name: create brightnessctl.rules
  become: yes
  file:
    src: "{{ ansible_env.PWD }}/roles/brightnessctl/files/90-brightnessctl.rules"
    path: /usr/lib/udev/rules.d/90-brightnessctl.rules
    state: link
    follow: false
    force: yes
  tags:
    - brightnessctl

- name: add user to video grop
  become: yes
  # TODO verify this works
  command: "gpasswd -a {{ ansible_env.USER }} video"
  tags:
    - brightnessctl

- name: reload the video group
  become: yes
  command: newgrp video
  tags:
    - brightnessctl
